.weather-container {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #A2D5AB;
    color: #253f44;
    border-radius: 50%;
}

.weather-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    font-family: 'Jost',
    sans-serif;
}